body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h3, ul, p{
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

blockquote {
    font-style: italic;
}

.header {
    background-color: black;
    color: white;
    padding: 20px 100px 100px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.logo {
}

.nav {
    display: flex;
    gap: 10px;
}


.intro {
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap: 40px;
}

.text-left  {
    
}

.sign-up {
    border-radius: 5px;
    background-color: blue;
    color: white;
    padding: 2px 20px;
    margin-top: 8px;
}

#intro-img {
    width: 250px;
    background-color: grey;
}

.info {
    text-align: center;
    padding: 20px 100px 100px;
}

.info-header{
    margin-bottom: 30px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.info-box {
    max-width: 100px;
}

.info-img {
    border: 2px solid blue;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    display: flex;
}

.quote {
    background-color: grey;
    padding: 80px 120px;
}

.reference {
    text-align: right;
}



.sign-up-box {
    background-color: blue;
    margin: 60px 100px;
    padding: 30px 100px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.sign-up-button {
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px 15px;
    background-color: blue;
    color: white;
}

.footer {
    background-color: grey;
    color: white;
    padding: 30px 10px;
    display: flex;
    justify-content: center;
}