body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h3, ul, p{
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

blockquote {
    font-style: italic;
}

.header {
    background-color: #1F2937;
    color: white;
    padding: 20px 150px 100px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.nav {
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: #E5E7EB;
}


.intro {
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap: 40px;
}

h1 .text-left {
   font-weight: extra-bold;
   font-size: 48px;
   color: #F9FAF8;
}


.text-left  {
    margin-bottom: 20px;
}

.sign-up {
    border-radius: 5px;
    background-color: #3882F6;
    color: white;
    padding: 2px 20px;
    margin-top: 8px;
}

#intro-img {
    width: 200px;
    background-color: grey;
}

.info {
    padding: 20px 100px 100px;
    text-align: center;
}

.info-header{
    font-weight: extra-bold;
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 20px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.info-box {
    max-width: 200px;
}


.info-img {
    border: 2px solid blue;
    border-radius: 5px;
    height: 200px;
    margin: 20px;
}

.quote {
    background-color: #E5E7EB;
    padding: 80px 120px;
}

blockquote {
    font-size: 36px;
    font-style: light-italic;
    color: #1F2937;
}

.reference {
    text-align: right;
}



.sign-up-box {
    background-color: #3882F6;
    margin: 60px 100px;
    padding: 30px 100px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.sign-up-button {
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px 15px;
    background-color: #3882F6;
    color: white;
}

.footer {
    background-color: #1F2937;
    color: white;
    padding: 30px 10px;
    display: flex;
    justify-content: center;
}